<h2>Solicitar Hoja de Ruta Aleatoreia</h2>
<p>Permite obtener una hoja de ruta de manera aleatoria</p>
<p></p>
<p>Ingrese Token de seguridad y presione Solicitar</p>
<input type="text">
<button (click)="getHojaRutaAleatoria()">Solicitar Hoja de Ruta Aleatoria</button>
<h2></h2>
<h2>Id              : {{ getId() }} </h2> 
<h2>TipoInspecion   : {{ getTipoInspecion() }} </h2> 
<h2>Fecha           : {{ getFecha() }} </h2> 
<h2>FechaHora       : {{ getFechaHora() }} </h2> 
<h2>Titulo          : {{ getTitulo() }} </h2> 
<h2>Descripción     : {{ getDescripcion() }} </h2> 
<h2>Prioridad       : {{ getPrioridad() }} </h2>