<h2>Solicitar Hoja de Ruta Aleatoreia</h2>
<p>Permite obtener una hoja de ruta de manera aleatoria</p>
<p></p>
<p>Ingrese Token de seguridad y presione Solicitar</p>
<input type="text">
<button (click)="getHojaRutaAleatoria()">Solicitar Hoja de Ruta Aleatoria</button>

<div *ngIf="loginStatus">
    <h1>Login</h1>
    <table>
        <tbody>
            <tr>
                <h3>Estatus : </h3>
                <td> {{ errorEstatus }} </td> 
            </tr>
            <tr>
                <h3>Descripción : </h3>
                <td> {{ errorEstatusText }} </td> 
            </tr>
        </tbody> 
    </table>
</div>

<div *ngFor="let item of hojasrutas">
    <h2></h2>
    <h3>Id              : {{ item.id }} </h3>
    <h3>TipoInspecion   : {{ item.tipoInspecion }} </h3>
    <h3>Fecha           : {{ item.fecha }} </h3> 
    <h3>FechaHora       : {{ item.fechaHora }} </h3> 
    <h3>Titulo          : {{ item.titulo }} </h3> 
    <h3>Descripción     : {{ item.descripcion }} </h3> 
    <h3>Prioridad       : {{ item.prioridad }} </h3>

    <pre>{{ hojasrutas | json }}</pre>
 </div>


